:root {
  --pcolor-a: hsl(14, 45%, 36%);
  --pcolor-b: hsl(332, 51%, 32%);
  --scolor-1: hsl(0, 0%, 100%);
  --scolor-2: hsl(330, 100%, 98%);
  --scolor-3: hsl(30, 54%, 90%);
  --scolor-4: hsl(30, 18%, 87%);
  --scolor-5: hsl(30, 10%, 34%);
  --scolor-6: hsl(24, 5%, 18%);
  --small-font: .outfil-small;
  --med-font: .outfil-med;
  --large-font: .outfil-large;
}

body {
  font-size: 16px;
  background-color: var(--scolor-3);
  height: 2050px;
  box-sizing: border-box;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
}

.contain {
  background-color: var(--scolor-1);
  width: 735px;
  height: 1860px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  top: 122px;
  bottom: 122px;
}

.food {
  position: relative;
  width: 658px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  top: 40px;
}

.head {
  font-size: 32px;
  font-family: "Young Serif", serif;
  position: relative;
  left: 40px;
  top: 40px;
  color: var(--scolor-6);
}

.text-1 {
  position: relative;
  left: 40px;
  top: 34px;
  text-align: left;
  width: 650px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--scolor-5);
}

.time {
  position: relative;
  font-family: "Outfit", sans-serif;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--scolor-2);
  padding: 10px;
  width: 600px;
  border-radius: 10px;
}

.h1 {
  font-weight: 600;
  color: var(--pcolor-b);
  padding: 0;
}

.ingredients {
  position: relative;
  font-family: "Outfit", sans-serif;
  top: 80px;
  left: 50%;
  transform: translateX(-45%);
}

.h2 {
  font-family: "Young Serif", serif;
  color: var(--pcolor-a);
  font-size: 25px;
}

ul {
  color: var(--scolor-5);
  line-height: 2;
  font-family: "Outfit", sans-serif;
  margin-top: -10px;
}

.instructions {
  position: relative;
  font-family: "Outfit", sans-serif;
  top: 80px;
  left: 50%;
  transform: translateX(-57%);
  width: 80%;
}
.instructions ul {
  max-width: 100%;
  box-sizing: border-box;
}

.h3 {
  font-family: "Young Serif", serif;
  color: var(--pcolor-a);
  font-size: 25px;
}

ol {
  color: var(--scolor-5);
  line-height: 2;
  font-family: "Outfit", sans-serif;
  margin-top: -10px;
}

.nutrients {
  position: relative;
  font-family: "Outfit", sans-serif;
  top: 60px;
  left: 50%;
  transform: translateX(-56%);
  width: 80%;
}

.text-2 {
  color: var(--scolor-5);
  position: relative;
  left: 20px;
  text-align: left;
  width: 85%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.inline {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.item {
  color: var(--scolor-5);
  font-weight: 400;
  text-align: left;
  padding-left: 55px;
}

.quantity {
  color: var(--pcolor-a);
  font-weight: 600;
  text-align: left;
  padding-right: 200px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--scolor-5);
  padding: 0;
  margin-left: 40px;
}

@media (max-width: 750px) {
  body {
    height: 1600px;
  }

  .contain {
    width: 80%;
    height: 1450px;
  }

  .food {
    width: 90%;
  }

  .head {
    font-size: 28px;
  }
  .text-1 {
    font-size: 12px;
    width: 85%;
  }

  .time {
    width: 85%;
    font-size: 14px;
  }

  .ingredients {
    width: 85%;
    font-size: 13px;
    left: 43%;
  }
  .instructions {
    font-size: 12px;
  }
  .instructions ul {
    width: 80%;
  }
  .nutrients {
    left: 53%;
    top: 80px;
    width: 85%;
    font-size: 12px;
  }
  .h2 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: white;
  }
  .contain {
    width: 100%;
    height: 100%;
  }

  .food {
    width: 100%;
    border-radius: 0;
    top: -122px;
  }

  .head {
    font-size: 30px;
    top: -122px;
    width: 80%;
  }
  .text-1 {
    font-size: 12px;
    width: 85%;
    top: -122px;
  }

  .time {
    width: 85%;
    font-size: 14px;
    top: -122px;
  }

  .ingredients {
    width: 85%;
    font-size: 13px;
    top: -122px;
  }
  .instructions {
    font-size: 12px;
    top: -122px;
  }
  .nutrients {
    top: -122px;
    left: 53%;
    width: 85%;
    font-size: 12px;
  }

  .inline p{
    text-align: left;
    padding: 0 15%;
  }

@media (max-width: 375px) {
  body {
    background-color: white;
  }
  .contain {
    width: 100%;
    height: 100%;
  }

  .food {
    width: 100%;
    border-radius: 0;
    top: -122px;
  }

  .head {
    font-size: 30px;
    top: -122px;
    width: 80%;
  }
  .text-1 {
    font-size: 12px;
    width: 85%;
    top: -122px;
  }

  .time {
    width: 85%;
    font-size: 14px;
    top: -122px;
  }

  .ingredients {
    width: 85%;
    font-size: 13px;
    top: -122px;
  }
  .instructions {
    font-size: 12px;
    top: -122px;
  }
  .nutrients {
    top: -122px;
    left: 53%;
    width: 85%;
    font-size: 12px;
  }

  .inline p{
    text-align: left;
    padding: 0 15%;
  } 
}
}